@using WebBanSach.Models;
@model Sach
@{
    ViewBag.Title = "XemChitiet";
    Layout = "~/Views/Shared/User.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <style>
        #bodydetails {
            margin-top: 100px;
            margin-left: 20%;
            margin-right: 15%;
        }

        #infor {
            margin-left: 45%;
        }

        #Avatar {
            float: left;
        }

        .namebook {
            font-size: 26px;
            color: red;
        }

        .detailbook {
            font-weight: 400;
            color: black;
        }



        .DKDN {
            margin-top: -1.5%;
        }

        .flash.success {
            background: #3b8b98;
        }

        ul li ul {
            position: absolute; /*chọn làm thành phần con của relative trên*/
            top: 40px; /*cho cách menu cha 40px*/
            left: -40px; /*đưa menu con qua bên trái -40px so với menu cha */
            display: none; /*Ban đầu sẽ không hiển thị*/
        }

        ul li:hover ul {
            cursor: pointer;
            display: block; /* trỏ chuột vào sẽ hiển thị menu con */
        }

        .flash.error {
            background: #294c6f;
            display: -webkit-box;
        }

        #nameBook {
            margin-top: 10px;
            font-size: 20;
            font-family: Helvetica, Arial, Tahoma, sans-serif;
            text-align: center;
            color: black;
        }

        #Avatar {
            border-style: dotted;
            margin-top: 30px;
        }

        div#body {
            margin-left: 15%;
            margin-right: 15%;
            margin-top: -0px;
            background-color: #e6c4c4ad;
        }

        #price {
            font-size: 16px;
            font-family: Roboto, Helvetica, Arial, sans-serif;
            color: #ff0000;
            font-weight: 500;
            text-align: center;
        }

        ul li {
            padding-left: 1px;
            list-style: none;
        }

        .menuPage {
            margin-left: 10%;
        }

        {
            margin-top: 10px;
            font-size: 20;
            font-family: Helvetica, Arial, Tahoma, sans-serif;
            text-align: center;
        }

        }

        ul.pagination {
            display: inline-flex;
        }

        .menuPage li {
            margin-left: 2px;
        }

        .pagination-container {
            margin-left: 40%;
        }

        button.btnmua {
            width: 50%;
            margin-left: 45px;
            color: yellow;
        }
    </style>
</head>
<body>
    <div id="bodydetails">
        <div id="Avatar">
            <img src="@Url.Content("~/Images/" +Model.TenFileAnh)" width="400" height="650" />
        </div>
        <div id="infor">
            <div class="namebook">@Model.TenS</div>
            <br />
            <div class="detailbook">Giới thiệu sách:<br />@Model.MoTa</div>
            <br />
            <div> <b style="color:black">Nhà xuất bản:  </b>@ViewBag.TenNXB</div>
            <br />

            <div><b style="color:black">Chủ đề :  </b>@ViewBag.TenChuDe</div>
            <br />
            <div><b style="color:black">Tác giả :  </b>@ViewBag.TenTacGia</div>
            <br />
            <div><b style="color:black">Đơn giá :  </b><a style="color:#cc1515"> @Model.GiaBan đ</a> </div>
            <br />
            @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMaS = Model.MaS, @sUrl = Request.Url.ToString() }))
            {
                <input type="submit" value="Mua Hàng" />

            }

        </div>
        <div>

        </div>
    </div>
    
</body>
</html>
