
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/User.cshtml";
}

@using WebBanSach.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<Sach>
<link href="~/Content/UserCss/HomeUser.css" rel="stylesheet" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>

    .DKDN {
        margin-top: -1.5%;
    }

    .flash.success {
        background: #3b8b98;
    }

    .flash.error {
        background: #294c6f;
        display: -webkit-box;
    }

    #nameBook {
        margin-top: 10px;
        font-size: 20;
        font-family: Helvetica, Arial, Tahoma, sans-serif;
        text-align: center;
        color: black;
    }

    #Avatar {
        border-style: dotted;
        margin-top: 30px;
    }

    div#body {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: -0px;
        background-color: #e6c4c4ad;
    }

    #price {
        font-size: 16px;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        color: #ff0000;
        font-weight: 500;
        text-align: center;
    }

    ul li {
        padding-left: 1px;
        list-style: none;
    }

    .menuPage {
        margin-left: 10%;
    }

    div#Book {
        float: left;
        width: 200px;
        margin-left: 100px;
        margin-bottom: 50px;
        color: red;
        text-align: center;
        font-weight: 600;
    }


    button.btnmua {
        width: 50%;
        margin-left: 1px;
        color: yellow;
    }

    {
        margin-top: 10px;
        font-size: 20;
        font-family: Helvetica, Arial, Tahoma, sans-serif;
        text-align: center;
    }


    ul.pagination {
        display: inline-flex;
    }
     
    .menuPage li {
        margin-left: 2px;
    }

    .pagination-container {
        margin-left: 40%;
    }

    button.btnmua {
        width: 50%;
        margin-left: 2px;
        color: yellow;
    }

    ul li ul {
        position: absolute; /*chọn làm thành phần con của relative trên*/
        top: 40px; /*cho cách menu cha 40px*/
        left: -40px; /*đưa menu con qua bên trái -40px so với menu cha */
        display: none; /*Ban đầu sẽ không hiển thị*/
    }

    ul li:hover ul {
        cursor: pointer;
        display: block; /* trỏ chuột vào sẽ hiển thị menu con */
    }

    .banner {
        width: 1280px;
        height: 400px;
        margin-left: 17%;
        margin-bottom: 5%;
        margin-top: 8%;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
    }

    .chuyen-slide {
        float: left;
        overflow: hidden;
        display: flex;
        transition: all 0.5s;
    }

    .dieuhuong {
        color: aquamarine;
        position: absolute;
        top: 41%;
        font-size: 50px;
        padding-left: 5px;
    }

        .dieuhuong i:last-child {
            position: relative;
            left: 1200px;
        }
    .nameweb {
        color: white;
        background: #56b1d4;
        /* font-size: x-large; */
        margin-left: 32%;
        font-weight: 600;
        padding: 42px 140px;
        border-radius: 16px;
        width: 25%;
        text-align: center;
        font-family: serif;
        margin-top: 60px;
        font-size: 45px;
    }
    .col-md-3.ftr-grid {
        float: left;
        max-width: 225px;
        margin-right: 7%;
        color: white;
        margin-top: 50px;
    }

    .col-md-3.ftr-info {
        margin-top:50px;
        float: left;
        max-width: 220px;
        margin-right: 10%;
        color: white;
    }

    html {
        background: #3b8b98;
    }

    .baogom {
        margin-left: 0%;
        margin-top: 30px;
    }

    .thong-tin {
        display: inline-flex;
        padding-bottom: 10px;
        margin-left: -2.4%;
    }

    .thong-tin1 {
        margin-right: 30px;
    }

    .thong-tin2 {
        margin-left: 213px;
    }

</style>

<title>LDBook</title>
<div class="nameweb">
    <span>Hệ thống sách LDBooK </span>
</div>
<div class="banner">
    <div class="dieuhuong">
        <i class="far fa-chevron-left" onclick="Back();"></i>
        <i class="far fa-chevron-right" onclick="Next();"></i>
    </div>

    <div class="chuyen-slide">
        
            <img src="~/Images/kimdong.jpg" />

            <img src="~/Images/nxbtre.jpg" />

    </div>

</div>
<script src="~/Content/UserCss/slide.js"></script>
<div id="body">
    @{ int i = 0;}

    @foreach (var item in Model)
    {
        i++;
        <div id="Book">
            <div id="Avatar">
                <a href="@Url.Action("DetailsBook",new { @masach=item.MaS   })">
                    <img src="@Url.Content("~/Images/" +item.TenFileAnh)" width="220" height="250" />
                </a>
                <a href="@Url.Action("DetailsBook",new { @masach=item.MaS})">@item.TenS</a>
            </div>
            <div id="nameBook" class="namebok"> </div>
            <div id="price"><font color="green">Giá:</font>  @item.GiaBan đ</div>
            <button class="btnmua"><a href="@Url.Action("ThemGioHang","GioHang",new { @iMaS=item.MaS,@sUrl=Request.Url.ToString() })">Mua</a></button>

        </div>
        if (i % 4 == 0)
        {
            <div style="clear:both"></div>
        }

    }
    <div class="menuPage">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
    <br />
    <div class="phancuoi">
        <div class="baogom">
            <div class="footer-grids">
                <div class="col-md-3 ftr-info">
                    <h3 style="font-size:2em">Giới thiệu về LDBooK</h3>
                    <p>
                        Được thành lập vào năm Covid-19 thứ 2.
                        Sự hình thành bất đắc dĩ xuất phát từ DeadLine . Tuy nhiên chúng tôi sẽ phục vụ vô cùng tận tình!. Xin cảm ơn .
                    </p>
                </div>
                <div class="col-md-3 ftr-grid">
                    <h3 style="font-size:2em">Danh mục sản phẩm</h3>
                    <ul class="ftr-list">
                        <li><a href="#">Thiếu nhi</a></li>
                        <li><a href="#">Tiểu thuyết</a></li>
                        <li><a href="#">Chứng khoán</a></li>
                        <li><a href="#">Ngoại ngữ</a></li>
                        <li><a href="#">Tình yêu</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ftr-grid">
                    <h3 style="font-size:2em">Hỗ trợ khách hàng</h3>
                    <ul class="ftr-list">
                        <li><a href="#"> Tuyển Dụng</a></li>
                        <li><a href="#"> Chính sách bảo mật thanh toán</a></li>
                        <li><a href="#"> Chính sách bảo mật thông tin cá nhân</a></li>
                        <li><a href="#"> Chính sách giải quyết khiếu nại</a></li>
                        <li><a href="#">  Điều khoản sử dụng</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ftr-grid">
                    <h3 style="font-size:2em">Thông tin của chúng tôi</h3>
                    <ul class="ftr-list">
                        <li><a href="#"><i class="fas fa-phone-alt"></i>0866744860</a></li>
                        <li><a href="#"><i class="fas fa-envelope-square"></i>LDBooK@gmail.com</a></li>
                        <li><a href="#"><i class="fal fa-search-location"></i>Bình Giang, Hải Dương</a></li>
                        <li><a href="#"> <i class="fas fa-hands-helping"></i>Giúp đỡ</a></li>
                        <li><a href="https://www.facebook.com/dat.trungle.3"><i style="margin-right: 10px;" class="fab fa-facebook-square"></i>Đạt Béo</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


</div>
<br />



