@using WebBanSach.Models;
@model List<Sach>

<head>
    <style>
        #Avatar {
            border-style: dotted;
            margin-top: 30px;
            margin-right: 30px;
            color: red;
            font-weight: 600;
            margin-right: 50px;
            text-align: center;
            max-width: 225px;
        }

        button.btnmua {
            width: 140px;
        }
        span.title {
            color: white;
            background: #56b1d4;
            font-size: x-large;
            margin-left: 45%;
            font-weight: 600;
            padding: 10 60;
            border-radius: 16px;
        }

    </style>
</head>
<span class="title">ẤN PHẨM</span>
@foreach (var item in Model)
{
    <div id="Book">

        <div id="Avatar">
            <a href="@Url.Action("DetailsBook",new { @masach=item.MaS   })">
                <img src="@Url.Content("~/Images/" +item.TenFileAnh)" width="220" height="250" />
            </a>

            <div><a style="margin:30px 0px 0px 0px" href="@Url.Action("DetailsBook",new { @masach=item.MaS})">@item.TenS</a></div>
            <font color="green">Giá:</font>  @item.GiaBan đ
            <div><button class="btnmua"><a href="@Url.Action("ThemGioHang","GioHang",new { @iMaS=item.MaS,@sUrl=Request.Url.ToString() })">Mua</a></button></div>
        </div>
    </div>


}